*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
hr{
	background: yellow;
	width: 100%;
	height: 5px;
}
.body{
	background: linear-gradient(to right, #9b2a58, #00032a); 
	width: 100%;
	height: 100%;
	overflow: hidden;
}
header{
	position: relative;
	background: black;	
	width: 100%;
	height: 10%;
	padding: 15px 0px;	
	box-sizing: border-box;
}
#logo{
	float: left;
	width: 80px;
	text-align: center; 
	margin-left: 35px; 
	margin-right: 40px;
	box-sizing: border-box;
}
#left-nav{
	float: left;
	width: 125px;
	margin-right: 5px;
	margin-top: .75%; 
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#searchlogo{
	float: right;
	margin-top: .75%;
	margin-right: 2%;
	color: white;
	text-decoration: none;
}
#signin{
	float: right;
	margin-top: .75%; 
	margin-right: 2.25%;
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.active, #left-nav:hover{
	background: rgba(0,0,0,0)!important;
	border-bottom: 2px solid #e7032c;
	color: white;
}
#userlogo{
	margin-right: 5px;
	color: white;
}
body{
	background: black;
	width: 100%;
	height: 100%;
}
.header{
	z-index: 4;
	width: 40%;
	margin: 80px auto 0px;
	color: white;
	background: linear-gradient(to right, #9b2a58, #00032a); 
	text-align: center;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
form{
	z-index: 4;
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #800080;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.input-group{
	margin: 10px 0px 10px 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #800080;
}
.btn{
	text-transform: uppercase;
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #800080;
	border: none;
	border-radius: 5px;
}
p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.icon-signin, .icon-registration, .icon-search{
	color: white;
	margin-left: 90%; 
	margin-top: 2%;
}
.search-form{
 	background: black;
 	width: 75%;
}
.Search form input{
	margin-left: 2.5%;
	width: 90%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #800080;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.Search form button{
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #800080;
}
.Search form button:hover{
	background: gray;
}
.Signin{
	display: none;
}
.Registration{
	display: none;
}
.Search{
	display: none;
}
#Trailer-video{
	display: none;
}
@media (max-width: 768px){
	.menu-toggle{
		display: block;
		width: 35px;
		height: 35px;
		z-index: 2;
		margin-left: 10px;
		background: black;
		border-bottom: black;
		float: left;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: white;
		border-radius: 4px;
		position: absolute;
	}
	.menu-toggle:before{
		content: "\f0c9";
		font-family: "Font Awesome 5 free";
		line-height: 40px;
		font-weight: 600;
	}
	.menu-toggle.active:before{
		content: "\f00d";
	}
	header{
  		height: 70px;
  		min-width: 100%;
	}
	#logo{
	float: right;
	margin-right: 35%; 
	}
	nav{
		display: none;
		position: relative;
	}
	nav.active{
		display: block;
	}
	nav.active ul{
		height: 100%;
		overflow: hidden;
		position: fixed; 
  		z-index: 1;
		background: black;	
		display: block;
		padding-left: 40%;
		padding-right: 60%;
		padding-top: 12%;
	}
	nav ul li a.active, #left-nav, #signin{
		margin: 10%;
	}
	#userlogo{
		display: none;
	}
	#searchlogo{
		margin-top: 2%; 
		margin-right: 3%;
	}
	nav ul li a#signin{
		margin-right: 8%;
		background: linear-gradient(-45deg,#fe0099,#ff072c,#fe9102)!important;
		width: 185px;
		border-radius: 12px;
	}
	.header{
		width: 57%;
	}
	form{
		width: 57%;
	}
	.Search form input{
		width: 80%;
	}
}
#main-container {
	position: relative;
	margin-top: 0;
	margin-right: 4%;
	margin-left: 4%;
}
#video{
	width: 100%;
	height: 500px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#description{
	margin-left: 4%;
	color: white;
	margin-top: 1%;
	width: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#description h5 i{
	margin-right: .5%;
}
#img-tra{
	color: white;
	z-index: 8;
	position: absolute;
	top: 90%;
	left: 10.75%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#img-1{
	color: white;
	z-index: 8;
	position: absolute;
	top: 90%;
	left: 10.75%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#img-2{
	color: white;
	z-index: 8;
	position: absolute;
	top: 90%;
	left: 42.75%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#img-3{
	color: white;
	z-index: 8;
	position: absolute;
	top: 90%;
	left: 73.75%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#Trailer-video{
	position: relative;
	z-index: 9;
}
.Trailer-video-i{
	color: white;
	position: absolute;
	z-index: 10;
	text-align: center;
	top: 1%;
	left: 45.25%;
}
#Trailer-video video{
	width: 47.5%;
}
#container{
	overflow: hidden;
}
#container-1{
	width: 100%;
	height: 10%;
	margin: 2% 4%;
	position: relative;
}
#container-2{
	float: left;
	background: linear-gradient(-45deg,#fe0099,#ff072c,#fe9102)!important;
	color: white;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#container-1 h4{
	padding: 15px 20px;	
}
#next-icon{
	color: white;
	margin-left: 5px; 
}
#view-more{
	float: right;
 	margin-right: 7.5%;
 	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#view-more a{
	text-decoration: none;
	color: white;
}
#container-img{
	width: 100%;
	margin: 2% 4%;
	position: relative;
	z-index: 7;
}
#container-img img{
	width: 30.66%;
	height: 300px;
	border-radius: 4px;
	cursor: pointer;
}
footer{
	position: relative;
	background: #1e1e1e;
	width: 100%;
	height: 20%;
	box-sizing: border-box;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
#left-foot{
	float: left;
	margin-left: 4%;
	margin-top: 2%;
	color: white;
	text-align: center;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#left-foot:hover{
	color: grey;
}
#facebook-icon:hover{
	color: #3b5998;
}
#twitter-icon:hover{
	color: #1da1f2;
}
#right-foot{
	color: white;
	float: right;
	text-align: center;
	text-decoration: none;
	margin-top: 2%;
	margin-right: 4%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#copyright{
	float: left;
	color: white;
	margin-left: 4%;
	margin-top: 1%;
	text-align: center;
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#facebook-icon{
	color: white;
	float: right;
	text-align: center;
	margin-right: 1.5%; 
	margin-top: .5%;
}
#twitter-icon{
	color: white;
	float: right;
	text-align: center;
	margin-right: 5.5%;
	margin-top: .5%;
}